<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title"><%= @question.persisted? ? t('actions.edit_resource', resource: t('resources.question')) : t('actions.create_resource', resource: t('resources.question')) %></h2>
        </div>
        <div class="card-body">
          <%= render 'shared/errors', resource: @question %>       
          <%= form_with model: @question, local: true, class: "needs-validation" do |f| %>
            <div class="mb-3">
              <%= f.label :title, t('resources.title'), class: "form-label" %>
              <%= f.text_field :title, class: "form-control #{'is-invalid' if @question.errors[:title].any?}", placeholder: t('actions.enter_resource', resource: t('resources.title')) %>
              <%= render 'shared/errors_resource_entity', resource: @question, resource_entity: :title %> 
            </div>
            <div class="mb-3">
              <%= f.label :body, t('resources.body'), class: "form-label" %>
              <%= f.text_area :body, class: "form-control #{'is-invalid' if @question.errors[:body].any?}", placeholder: t('actions.enter_resource', resource: t('resources.body')) %>
              <%= render 'shared/errors_resource_entity', resource: @question, resource_entity: :body %>
            </div>
             <div class="mb-3">
                <div class="form-group">
                  <%= f.label :tag_ids, 'Tags:' %>
                  <%= f.collection_select :tag_ids, @tags, :id, :title, {}, { multiple: true, class: "form-control js-multiple-select w-100", data: { placeholder: "Select tags" } } %>
                </div>
              </div>
            <div class="d-grid gap-2">
              <div class="col-md-6">
                <%= f.submit t('actions.submit'), class: "btn btn-primary btn-block" %>
                <%= link_to t('actions.back_to', resource: t('resources.questions')), questions_path %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>