<div class="container mt-4">
  <article class="card mt-3">
    <div class="card-header d-flex align-items-center">
      <div class="d-flex align-items-center flex-grow-1">
        <h5 class="mb-0"><%= question.user.decorate.name_or_email %></h5>
        <time class="text-muted ms-2" datetime="<%= question.created_at.iso8601 %>">
          <small><%= question.created_at.strftime('%d %b %Y, %H:%M') %></small>
        </time>
      </div>
      <div class="d-flex align-items-center">
       <% if policy(question).edit? %>
          <%= link_to t('actions.edit'), edit_question_path(question), class: "btn btn-warning btn-sm mx-1" %>   
        <% end %>
         <% if policy(question).destroy? %>
          <%= button_to t('actions.delete'), question_path(question), method: :delete, data: { turbo_confirm: t('actions.are_you_sure?'), turbo_method: :delete}, class: "btn btn-danger btn-sm mx-1" %>      
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <h4><%= question.title %></h4>
      <section class="card-text">
        <div class="my-2">
          <%= sanitize question.body %>
        </div>
        <div class="my-2">
          <%= render question.tags %>
        </div>

      </section>
       <% if policy(question).edit? %>
        <div class= "mt-0">
          <%= render 'comments/form', commentable: question, comment: @comment %>
        </div>
      <% end %>
      <div class="mt-2">
        <%= render question.comments.decorate %>
      </div>
  </article>

   <div class="mt-4">
      <div class="d-flex">
        <%= link_to t('actions.back_to', resource: t('resources.questions')), questions_path, class: 'btn btn-primary mx-1' %>
      </div>
    </div>

  <%= paginate @answers if @answers.any? %> 
  <div class="mt-3">
    <%= render @answers if @answers.any? %> 
  </div>
</div>  
