<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <strong class="mr-2"><%= @user.persisted? ? t('actions.edit') : t('resources.new_user') %></strong>
              <span class="badge bg-light text-secondary rounded-pill d-inline-flex align-items-center"><%= @user.email %></span>
            </div>
            <div class="d-flex align-items-center">
              <span class="badge bg-light text-secondary rounded-pill d-inline-flex align-items-center"><%= @user.role if @user.persisted? %></span>
            </div>
          </div>
        <div class="card-body">   
          <%= form_with model: @user, local: true, class: "needs-validation" do |f| %>
            <%= render 'shared/errors', resource: @user %>
            <div class="mb-3">
              <%= f.label :name, t('resources.name'), class: "form-label" %>
              <%= f.text_field :name, class: "form-control #{'is-invalid' if @user.errors[:name].any?}", placeholder: t('actions.enter_resource', resource: t('resources.name')) %>
              <%= render 'shared/errors_resource_entity', resource: @user, resource_entity: :name %> 
            </div>
            <div class="mb-3">
              <%= f.label :email, t('resources.email'), class: "form-label" %>
              <%= f.email_field :email, class: "form-control #{'is-invalid' if @user.errors[:email].any?}", placeholder: t('actions.enter_resource', resource: t('resources.email')) %>
              <%= render 'shared/errors_resource_entity', resource: @user, resource_entity: :email %>
            </div>
            <div class="mb-3">
              <%= f.label :password, t('resources.password'), class: "form-label" %>
              <%= f.password_field :password, class: "form-control #{'is-invalid' if @user.errors[:password].any?}", 
                                    placeholder: t('actions.enter_resource', resource: t('resources.password')) %>
              <%= render 'shared/errors_resource_entity', resource: @user, resource_entity: :password %>
            </div>
            <div class="mb-3">
              <%= f.label :password_confirmation, t('resources.password_confirmation'), class: "form-label" %>
              <%= f.password_field :password_confirmation, class: "form-control #{'is-invalid' if @user.errors[:password_confirmation].any?}", 
                                    placeholder: t('actions.enter_resource', resource: t('resources.password_confirmation')) %>
              <%= render 'shared/errors_resource_entity', resource: @user, resource_entity: :password_confirmation %>
            </div>
            <% if @user.persisted? %>
            <div class="mb-3">
              <%= f.label :current_password, t('resources.current_password'), class: "form-label" %>
              <%= f.password_field :current_password, class: "form-control #{'is-invalid' if @user.errors[:current_password].any?}", 
                                    placeholder: t('actions.enter_resource', resource: t('resources.current_password')) %>
              <%= render 'shared/errors_resource_entity', resource: @user, resource_entity: :current_password %>
            </div>
            <% end %>
            <div class="mt-3">
            <div class="form-group mt-3">
              <%= f.submit @user.persisted? ? t('actions.save') : t('actions.register'), class: "btn btn-primary btn-block" %>
              <%= link_to t('actions.back_to', resource: t('actions.home')), root_path, class: 'btn btn-link' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>