 <%= provide :main_menu do %>
 
 <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Ask It</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= nav_tab "Home", root_path, class: "nav-link", current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab "Questions", questions_path, class: "nav-link", current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab "New Question", new_question_path, class: "nav-link", current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab "About", "#", class: "nav-link", current_page: current_page %>
              </li>
              <li class="nav-item">
                <%= nav_tab "Contacts", "#", class: "nav-link", current_page: current_page %>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
            <li class="nav-item d-flex align-items-center">
              <span class="navbar-text">Hello, <%= current_user.name %>!</span>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Out", sign_out_path, data: { turbo_method: :delete }, class: "nav-link" %>
            </li>
            <% else %>
              <li class="nav-item">
                <%= nav_tab "Sign In", sign_in_path, class: "nav-link", current_page: current_page %> 
              </li>
              <li class="nav-item">
                <%= nav_tab "Sign Up", sign_up_path, class: "nav-link", current_page: current_page %>
              </li>
            <% end %>
          </ul>
          </div>
        </div>
      </nav>
    </header>
<% end %>