<%= provide :page_title, t('actions.users') %>

<%= currently_at t('actions.users') %>
<%= paginate(@users) if @users.total_pages > 1 %>

<div class="btn-group mb-3"> 
  <%= link_to t('actions.new_resource', resource: t('resources.user')), new_admin_user_path, class: 'btn btn-primary' %>
</div>
  

<div class="btn-group mb-3"> 
  <%= link_to t('actions.download_zip_xlsx'), admin_users_path(format: :zip), class: 'btn btn-primary' %>
  <%= link_to t('actions.download_xlsx'), admin_users_path(format: :xlsx), class: 'btn btn-secondary' %>
</div>

<h2>Upload XLSX or ZIP file</h2>
<%= form_with url: admin_users_path, method: :post, local: true, multipart: true do |form| %>
  <div class="form-group">
    <%= form.label :file, t('actions.choose_xlsx_or_zip_file') %>
    <%= form.file_field :file, class: 'form-control' %>
  </div>
  <%= form.submit t('actions.upload_file', resource: t('resources.file')), class: 'btn btn-success' %>
<% end %>

<%= render @users %>