<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || full_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>
  <body>
    <%= yield :main_menu %>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= tag.div value, class: "alert alert-#{key == 'notice' ? 'success' : 'danger'} alert-dismissible fade show", role: "alert" %>
      <% end %>
    </div>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>